
.group
{
    color:#000000;
    font-weight:bold;
}

.touchpoint
{
    color:#000000;
}

.group-campaign
{
    color:#000000;
    font-weight:bold;
}

.touchpoint-campaign
{
    color:#000000;
}

.segment
{
    color:#000000;
    font-style:italic;
}
